footer {
  padding: 2rem;
  background-color: #fff;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

/*greefin*/
.fmcna-freseniuscontainer-footer-bottom-wrapper {
	text-align: center;
}
.fmcna-freseniuscontainer-footer-bottom-wrapper > div > div > div > p.button-container {
	display: inline-block;
	width: 100%;
}
.fmcna-freseniuscontainer-footer-bottom-wrapper > div > div > div > p.button-container > strong > a {
	color: #0033a0;
	background-color: unset;
	padding: 5px;
	margin: 0;
	border: unset;
	width: 100%;
}
.fmcna-freseniuscontainer-footer-bottom-wrapper > div > div:nth-child(1) > div > p:nth-child(1) {
	font-size: 1.125rem;
	line-height: 1.33;
	color: #484c53;
	font-family: Interstate,sans-serif;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0;
}
.fmcna-freseniuscontainer-logo-wrapper > div > div > div > picture > img {
	width: 220px;
    height: 46px;
}
.fmcna-freseniuscontainer-logo-wrapper > div > div > div > picture {
	align-items: center;
    justify-content: center;
    display: flex;
}
.fmcna-freseniuscontainer-footer-links-wrapper > div {
	display: flex;
    flex-direction: row;
}
.fmcna-freseniuscontainer-footer-links-wrapper > div > div {
	flex: 1;
    text-align: center;
}
.fmcna-freseniuscontainer-footer-links-wrapper > div > div > div > strong {
	color: #0033a0!important;
    font-weight: 900;
    display: inline;
}
.fmcna-freseniuscontainer-footer-links-wrapper > div > div > div {
	margin-bottom: 30px;
}
.fmcna-freseniuscontainer-logo-wrapper {
	margin: 40px 0 !important;
}
.fmcna-freseniuscontainer-footer-social-wrapper > div > div > div > strong:nth-child(1) > a {
	font-size: 0;
    width: 43px;
    height: 43px;
    display: inline-block;
    border-radius: 100%;
    background-color: #5d83d1;
    margin-right: 3px;
    transition: border-color .2s ease,background-color .2s ease;
}
.fmcna-freseniuscontainer-footer-social-wrapper > div > div > div > strong:nth-child(1) > a:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
	background: url('https://fmcna.com/etc.clientlibs/fmcna/clientlibs/clientlib-site/resources/images/icon-fb.svg') 50%/auto 17px no-repeat;
}
.fmcna-freseniuscontainer-footer-social-wrapper > div > div > div > strong:nth-child(2) > a {
    font-size: 0;
    width: 43px;
    height: 43px;
    display: inline-block;
    border-radius: 100%;
    background-color: #0177b5;
    margin-right: 3px;
    transition: border-color .2s ease,background-color .2s ease;
}
.fmcna-freseniuscontainer-footer-social-wrapper > div > div > div > strong:nth-child(2) > a:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
	background: url('https://fmcna.com/etc.clientlibs/fmcna/clientlibs/clientlib-site/resources/images/icon-li.svg') 50%/auto 17px no-repeat;
}
.fmcna-freseniuscontainer-footer-social-wrapper > div > div > div > strong:nth-child(3) > a {
    font-size: 0;
    width: 43px;
    height: 43px;
    display: inline-block;
    border-radius: 100%;
    background-color: #ef4e41;
    margin-right: 3px;
    -webkit-transition: border-color .2s ease,background-color .2s ease;
    transition: border-color .2s ease,background-color .2s ease;
}
.fmcna-freseniuscontainer-footer-social-wrapper > div > div > div > strong:nth-child(3) > a:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
	background: url('https://fmcna.com/etc.clientlibs/fmcna/clientlibs/clientlib-site/resources/images/icon-yt.svg') 50%/auto 17px no-repeat;
}
.fmcna-freseniuscontainer-footer-social-wrapper > div {
	padding-bottom: 50px;
	text-align: center;
}
